In [ ]:
'''

String Based Assignment Problem Q1-Q50

List Based Practice Problem : Q1 - Q50

Tuple Based Practice Problem : Q1 - Q50

Set Based Practice Problem : Q1 - Q50

'''

In [ ]:
# String Based Assignment Problem Q1-Q50

In [6]:
#Answer 1
string = input('Enter a string')
string_reverse = string[::-1]

print(string_reverse)

Enter a string PWSKILLS

SLLIKSWP

In [8]:
#Answer 2

string = input('Enter a string')
string_reverse = string[::-1]

if string == string_reverse:
    print('input string is a palindrome')
    
else:
    print('input string is not a palindrome')

Enter a string PWSKILLS

input string is not a palindrome

In [12]:
#Answer 3

string = input('Enter a string')
string_upper = string.upper()
print(string_upper)

Enter a string python123

PYTHON123

In [14]:
#Answer 4

string = input('Enter a string')
string_lower = string.lower()
print(string_lower)

Enter a string I AM A HERO

i am a hero

In [19]:
# Answer 5

string = input('Enter a string')
a = string.count('a')
e = string.count('e')
i = string.count('i')
o = string.count('o')
u = string.count('u')

print('Vowels in the given string are','a -',a,'e -',e,'i -',i,'o -',o,'u -',u)

Enter a string AEIOU are the vowels in english language

Vowels in the given string are a - 3 e - 5 i - 2 o - 1 u - 1

In [30]:
# Answer 6 

def count_con(string):
    
    vowel_set = set('bcdfghjklmnpqrstvwxyz')
    count = 0
    for i in string:
        
        if i in vowel_set:
            count = count + 1
    return count
            
string = input('Enter a string')

print('The number of consonants in the string are ',count_con(string))

Enter a string you are a zero

The number of consonants in the string are  4

In [33]:
#Answer 7

string = input('Enter a string:')

if ' ' in string:
    string_space = string.replace(' ','')
    
print(string_space)

Enter a string: i have space

ihavespace

In [34]:
#Answer 8

string = input('Enter a string:')

count = 0

for i in string:
    count += 1
    
print('The length of the string:',count)

Enter a string: this is a string

The length of the string: 16

In [41]:
# Answer 9
string = input('Enter a string:')
word = input('enter a word inside the string')

if word in string:
    print('The word',word,' is part of string',string)
    
else:
    print('The word',word, ' is not part of a string',string)

Enter a string: this is a python class
enter a word inside the string hyphen

The word hyphen  is not part of a string this is a python class

In [44]:
# Answer 10
string = input('Enter a string:')
word_to_be_replaced = input('Enter a word that is to be replaced:')
word_new = input('Enter the new word:')

new_string = string.replace(word_to_be_replaced,word_new)
print(new_string)

Enter a string: I am a hero
Enter a word that is to be replaced: zero
Enter the new word: hero

I am a hero

In [45]:
# Answer 11 

def word_occ(string, word):
    str_list = string.split()

    count = 0
    for i in str_list:
        if word == i:
            count += 1
            
    return count

string = input('Enter a string')
word = input('Enter a word to check inside the string')


print('The word occurs',word_occ(string,word), 'times in the given string ')

Enter a string asdf
Enter a word to check inside the string a

The word occurs 0 times in the given string

In [49]:
#Answer 12

def find_word(string, word):
    
    index = string.find(word)   
    
    if index == -1:
        return None
    return index


string = input('Enter a string')
word = input('Enter the word')

result = find_word(string,word)

print('The word occurs at',result,'position in the text')

Enter a string I am a nice person
Enter the word nice

The word occurs at 7 position in the text

In [51]:
#Answer 13

def find_word(string, word):
    
    index = string.rfind(word)   
    
    if index == -1:
        return None
    return index


string = input('Enter a string')
word = input('Enter the word')

result = find_word(string,waord)

print('The index of the last occurance is at ',result,)

Enter a string boy is a boy for joy
Enter the word boy

The index of the last occurance is at  9

In [59]:
#Anser 14

string = input('Enter a string:')
word_list = string.split()
print(word_list)

Enter a string: I am a hero

['I', 'am', 'a', 'hero']

In [54]:
# Answer 15
string_list = ['alpha','beta','gamma']

new_string = ' '.join(string_list)

print(new_string)

alpha beta gamma

In [2]:
# Answer 16

string = input('Enter string with spaces')
string_underscore = string.replace(' ','_')

print(string_underscore)

Enter string with spaces   this  is a space

__this__is_a_space

In [8]:
# Answer 17

string = input('Enter a string')
string_word = input('Enter word to check start of the string with')
string_check = string.startswith(string_word)

if string_check == True:
    print('The string starts with the specified word')
    
else:
    print('The string does not starts with the specified word')

Enter a string he is wrong
Enter word to check start of the string with as

The string does not starts with the specified word

In [10]:
# Answer 18
string = input('Enter a string')
string_word = input('Enter word to check start of the string with')
string_check = string.endswith(string_word)

if string_check == True:
    print('The string ends with the specified word')
    
else:
    print('The string does not end with the specified word')

Enter a string I am great
Enter word to check start of the string with waste

The string does not end with the specified word

In [12]:
# Answer 19

string = input('Enter a string')
print(string.title())

Enter a string I am a hero

I Am A Hero

In [57]:
# Answer 20

string = input('Enter a string')
str_list = string.split()

max_len = 0
word = ''

for i in str_list:
    
    if len(i)>max_len:
        max_len = len(i)
        word = i
        
print('The longest word is',word)

Enter a string THis is a very biggggggg word

The longest word is biggggggg

In [59]:
# Answer 21

string = input('Enter a string')
str_list = string.split()

max_len = 100000
word = ''

for i in str_list:
    
    if len(i)<max_len:
        max_len = len(i)
        word = i
        
print('The shortes word is',word)

Enter a string aa bb cc

The shortes word is aa

In [23]:
# Answer 22

string = input('Enter a string')

string_split = string.split()

print(string_split)

rev_string = list(map(lambda a: a[::-1],string_split))

print(rev_string)

Enter a string I am a hero

['I', 'am', 'a', 'hero']
['I', 'ma', 'a', 'oreh']

In [3]:
# Answer 23

string = input('Enter a string')

if string.isalnum() == True:
    print('Given string is alphanumeric')
else:
    print('Given string is not alphanumeri')

Enter a string givce 21as

Given string is not alphanumeri

In [13]:
#Answer 24

Text = 'abc12asdf'

y = []
for i in x:
    if i.isnumeric()==True:
        y.append(i)
        
print('Digits in the text are', y)

Digits in the text are ['1', '2']

In [14]:
#Answer 25

Text = 'abc12asdf'

y = []
for i in x:
    if i.isalpha()==True:
        y.append(i)
        
print('Alphabets in the text are',y)

Alphabets in the text are ['a', 'b', 'c', 'a', 's', 'd', 'f']

In [19]:
# Answer 26

Text = 'AbCdeF123'

count = 0
for i in Text:
    if i.isupper():
        count += 1
print('Number of Upper case characters in a string are ', count)

Number of Upper case characters in a string are  3

In [20]:
# Answer 27

Text = 'AbCdeF123'

count = 0
for i in Text:
    if i.islower():
        count += 1
print('Number of Upper case characters in a string are ', count)

Number of Upper case characters in a string are  3

In [25]:
# Answer 28

Text = 'AbCdeF123'

print('Altered text is ',Text.swapcase())

Altered text is  aBcDEf123

In [8]:
# Answer 29 

def remove_word(string,word):
    
    split_string = string.split()
    
    if word in split_string:
        split_string.remove(word)
    
    return ' '.join(split_string)
    
string = input('Enter a string')
word = input('Enter the word to be removed')

result = remove_word(string,word)
print('The string without the word is :',result)

Enter a string I am a genius
Enter the word to be removed a

The string without the word is : I am genius

In [11]:
# Answer 30

def check_email(string):
    
    if '@gmail' in string:
        return 'this is a valid gmail address'
    else:
        return 'this is not a valid gmail address'
    
    
string = input('enter an email address')
check_email(string)

enter an email address @hemail.com

'this is not a valid gmail address'

In [16]:
# Answer 31

def extract_username(string):
    
    index = string.find('@')
    
    print('User name is: ',string[0:index])

string = input('Enter email id')
extract_username(string)

Enter email id hero@villian.com

User name is:  hero

In [18]:
# Answer 32

def extract_domainname(string):
    
    index = string.find('@')
    
    print('User name is: ',string[index+1:])

string = input('Enter email id')
extract_domainname(string)

Enter email id abc@xyz.com

User name is:  xyz.com

In [19]:
# Answer 33

def remove_mul_spaces(string):
    
    split_string = string.split()
    new_string = ' '.join(split_string)
    return new_string


string = input('Enter a string with multiple spaces')
remove_mul_spaces(string)

Enter a string with multiple spaces this   sentence has many      spaces

'this sentence has many spaces'

In [22]:
# Answer 34

def check_url(string):
    
    if 'www' and '.com' in string:
                print('this is a valid url')
    else:
        print('this is not a valid url')
string = input('enter a webaddress')        
check_url(string)

enter a webaddress www.india.com

this is a valid url

In [24]:
# Answer 35

def extract_protocol(string):
    
    index = string.find(':')
    
    print('User name is: ',string[:index])

string = input('Enter a webaddress')
extract_protocol(string)

Enter a webaddress https://india.com

User name is:  https

In [35]:
# Answer 36

def freq_counter(string):
    string_list = list(string)
    string_set  = set(string)
    
    for i in string_set:
        
        print(i,string_list.count(i))
      
    
string= input('Enter a string')
freq_counter(string)

Enter a string You are a kind person

Y 1
o 2
k 1
d 1
u 1
  4
a 2
r 2
s 1
i 1
n 2
p 1
e 2

In [77]:
# Answer 37

def remove_punc(string):
    pun_set = ('.','?',',','!')
    new_str = ''

    for i in string:
        if i not in pun_set:
            new_str = new_str + i
       
    return new_str   

string = input('Enter a string with punctuation')

result = remove_punc(string)
print('String without punctuation is',result)

Enter a string with punctuation Hello! Good Morning. How are you?

String without punctuation is Hello Good Morning How are you

In [87]:
# Answer 38

def check_digit(string):
    
    return string.isdigit()
    
string = input('Enter a string')
print('The given string contains only digits',check_digit(string))

Enter a string abv12

The given string contains only digits False

In [88]:
# Answer 39

def check_alpha(string):
    
    return string.isalpha()
    
string = input('Enter a string')
print('The given string contains only digits',check_alpha(string))

Enter a string abc

The given string contains only digits True

In [89]:
# Answer 40

string = input('Enter a string')
new_str = list(string)
print(new_str)

Enter a string hello

['h', 'e', 'l', 'l', 'o']

In [3]:
# Answer 41 - Check if two strings are anagrams.

string1 = 'worth'
string2 = 'throw'

string1_set = set(string1)
string2_set = set(string2)

if string1_set == string2_set:
    print('Given 2 strings are anagrams')
else:
    print('Given 2 strings are not anagrams')

Given 2 strings are anagrams

In [13]:
# Answer 42 - Encode a string using a Caesar cipher.

def caesar_cipher(text, shift):
     
    code = ""
    
    for char in text:

        if char.isalpha():

            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
      
          encoded_char = char


    code += encoded_char

    return code


text = "Pwskills, world!"
shift = 3


code = caesar_cipher(text, shift)


print("Encoded text:", code)

Encoded text: !

In [9]:
# Anser 43 - Decode a Caesar cipher encoded string.

def caesar_decoder(text, shift):
        
    decode = ""

    for char in text:
       
        if char.isalpha():
            
            decode_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decode_char = char

        decode = decode + decode_char

 
    return decode

text = "pwskills, python!"
shift = 3


decode = caesar_decoder(text, shift)


print("Decoded text:", decode)

Decoded text: mtphfiip, mvqelk!

In [80]:
# Anser 44

string = 'Hello PWSKILLS repeat defeat Hello '

string_split = string.split()
string_set = set(string_split)
l_set = len(string_set)
l_list = len(string_split)

d = {}



for i in string_set:
    
    for j in string_split:
        
        if i==j:
            d[string_split.count(j)] = i
            
            
most_repeated_word = sorted(d.items())[-1][-1]

print('The most repeated word in your list is:', most_repeated_word)

The most repeated word in your list is: Hello

In [81]:
# Answer 45

string = 'Hello PWSKILLS repeat defeat Hello '

string_split = string.split()
string_set = set(string_split)

d = {}



for i in string_set:
    
    for j in string_split:
        
        if i==j:
            if string_split.count(i) == 1:
                d[string_split.count(j)] = i
            
            
most_repeated_word = d.values()

print('The unique words in your list are:', most_repeated_word)

The unique words in your list are: dict_values(['PWSKILLS'])

In [25]:
# Answer 46 - Count the number of syllables in a string.

In [2]:
# Answer 47 - Check if a string contains any special characters.

In [21]:
# Answer 48 - Remove the nth word from a string.

def remove_nthword(string,nth_word):
    string_split = string.split()
    string_split.remove(string_split[nth_word-1])
    return ' '.join(string_split)
    
    
string = input('Enter a string')
nth_word = int(input ('Enter the position of the word in the string'))
nth_word_removed = remove_nthword(string,nth_word)
print('The string with nth word removed is: ',nth_word_removed)

Enter a string This is a very long sentence
Enter the position of the word in the string 4

The string with nth word removed is:  This is a long sentence

In [24]:
# Answer 49 - Insert a word at the nth position in a string.

string = 'This is a sentence'
word = 'short'
word_position = 3
    
string_split = string.split()
string_split.insert(word_position-1,word)
sen = ' '.join(string_split)

print(sen)

This is short a sentence

In [ ]:
# Answer 50 - Convert a CSV string to a list of lists.

In [26]:
'''
List Based Practice Problems
'''

'\nList Based Practice Problems\n'

In [28]:
#Answer 1 - Create a list with integers from 1 to 10.

list_integers = list(range(1,11))
print(list_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
# Answer 2 - Find the length of a list without using the `len()` function.

list1 = ['a','v','e','g']
count = 0
for i in list1:
    count +=1
    
print('The length of the list is:',count)

The length of the list is: 4

In [31]:
# Answer 3 - Append an element to the end of a list.

list1 = ['a','v','e','g']
element = 'z'

list1.append(element)

print(list1)

['a', 'v', 'e', 'g', 'z']

In [35]:
# Answer 4 - Insert an element at a specific index in a list.
list1 = ['a','v','e','g']
element = 'z'
index = 2

list1.insert(index-1,element)
print(list1)

['a', 'z', 'v', 'e', 'g']

In [36]:
# Answer 5 - Remove an element from a list by its value.

list1 = ['a','v','e','g']
element_toremove = 'v'

list1.remove(element_toremove)

list1

['a', 'e', 'g']

In [41]:
# Answer 6 - Remove an element from a list by its index.

list1 = ['a','v','e','g']
index = 2

list1.pop(index-1)
list1

['a', 'e', 'g']

In [42]:
# Answer 7 - Check if an element exists in a list.

list1 = ['a','v','e','g']
element = 'g'

if element in list1:
    print('Element',element,'exists inside',list1)

Element g exists inside ['a', 'v', 'e', 'g']

In [44]:
# Answer 8 - Find the index of the first occurrence of an element in a list.

list1 = ['a','v','e','g']

list1.index('v')

1

In [45]:
# Answer 9 - Count the occurrences of an element in a list.

list1 = ['a','v','e','g','a','g']

list1.count('a')

2

In [47]:
# Answer 10 - Reverse the order of elements in a list.

list1 = ['a','v','e','g','a','g']

list1_reversed = list1[::-1]
list1_reversed

['g', 'a', 'g', 'e', 'v', 'a']

In [52]:
# Answer 11 - Sort a list in ascending order.

list1 = [5,4,2,9,8,2,4,5]

list1_sort = sorted(list1)
list1_sort

[2, 2, 4, 4, 5, 5, 8, 9]

In [53]:
# Answer 12 - Sort a list in descending order.


list1 = [5,4,2,9,8,2,4,5]

list1_sort = sorted(list1)
list1_sort[::-1]

[9, 8, 5, 5, 4, 4, 2, 2]

In [55]:
# Answer 13 - Create a list of even numbers from 1 to 20.

list1 = list(range(1,21))

for i in list1:
    
    if i%2==0:
        print(i,end=' ')

2 4 6 8 10 12 14 16 18 20

In [56]:
# Answer 14 - Create a list of odd numbers from 1 to 20.

list1 = list(range(1,21))

for i in list1:
    
    if i%2==1:
        print(i,end=' ')

1 3 5 7 9 11 13 15 17 19

In [57]:
# Answer 15 -  Find the sum of all elements in a list.

list1 = list(range(1,21))
sum = 0

for i in list1:
    
    sum = sum + i

print('sum of elements in list:',sum)

sum of elements in list: 210

In [59]:
# Answer 16 - Find the maximum value in a list.

list1 = [2,3,6,2,1,2,8]

list1_max = max(list1)

print(list1_max)

8

In [61]:
# Answer 17 - Find the min value in a list.

list1 = [2,3,6,2,1,2,8]

list1_min = min(list1)

print(list1_min)

1

In [64]:
# Answer 18 - Create a list of squares of numbers from 1 to 10.

list1 = list(range(1,11))
list2 = []
for i in list1:
    list2.append(i*i)
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
# Answer 19 - Create a list of random numbers.

import random

l = []

for i in range(1,11):
    
    l.append(random.randint(1,20))
    
print(l)

[6, 19, 4, 15, 12, 16, 18, 4, 4, 14]

In [80]:
# Answer 20 - Remove duplicates from a list.

list1 = [2,3,6,2,1,2,8]
#print(list1)

for i in list1:
    if list1.count(i)>1:
        list1.remove(i)
print(list1)
    
#list1"=

[3, 6, 1, 2, 8]

In [84]:
# Answer 21 - Find the common elements between two lists.

list1 = [1,2,3,4,3,5,7,9]
list1_set = set(list1)
list2 = [3,20,43,5,9]
list2_set = set(list2)
for i in list1_set:
    for j in list2_set:
        if i==j:
            print(i,end=' ')

3 5 9

In [86]:
# Answer 21 - Find the difference between two lists.

list1 = ['a','b','z']
list2 = ['a','g','h']

diff = list(set(list1).difference(list2))

print(diff)

['b', 'z']

In [88]:
# Answer 23 - Merge two lists.
list1 = ['a','b','z']
list2 = ['a','g','h']
list_merged = list1 + list2
print(list_merged)

['a', 'b', 'z', 'a', 'g', 'h']

In [91]:
# Answer 24 - Multiply all elements in a list by 2.

list1 = [1,2,3]

for i in list1:
    print(i*2,end=' ')

2 4 6

In [94]:
# Answer 25 - Filter out all even numbers from a list.

list1 = [1,2,3,4,5,6,7,8,9,10]

for i in range(1, len(list1)+1):
    
    if i%2==0:
        list1.remove(i)
    
list1

[1, 3, 5, 7, 9]

In [106]:
# Answer 26 - Convert a list of strings to a list of integers.

list_of_numstr = input('Enter numbers with space')
list_split = list_of_numstr.split()
list_num = []
for i in list_split:
    list_num.append(int(i))
    
print(list_num)

Enter numbers with space 1 2 3

[1, 2, 3]

In [109]:
# Answer 27 - Convert a list of integers to a list of strings.

list1 = [1,2,3,4]
list_char = []

for i in list1:
    list_char.append(str(i))
    
print(list_char)

['1', '2', '3', '4']

In [16]:
# Answer 28 - Flatten a nested list. 

list_nest = [1,2,[4,5,6]]

flat = []

for i in list_nest:
    
    if type(i)!=list:
        flat.append(i)
    else:
        for j in i:
            flat.append(j)
print(flat)

[1, 2, 4, 5, 6]

In [122]:
# Answer 29 - Create a list of the first 10 Fibonacci numbers.

number = 10
list1 = range(0,number + 1)

fib = [0,1]
a = 0
b = 1
sum = 0
for i in list1:
    sum = a + b
    a = b
    b = sum    
    
    fib.append(sum)
    
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [124]:
# Answer 30 - Check if a list is sorted.

list1 = [1,2,3,4,5]
list2 = [3,2,5,3,6]

if list1 == sorted(list1):
    print('this list is sorted')
if list2 != sorted(list2):
    print('this list is not sorted')

this list is sorted
this list is not sorted

In [187]:
# Answer 31 - Rotate a list to the left by `n` positions.

list1 = [1,2,3,4,5,6]
shift_by_n = 1

left_trim_list = list1[:shift_by_n]
right_trim_list = list1[shift_by_n:]

list_shifted = right_trim_list + left_trim_list
print(list_shifted)

[2, 3, 4, 5, 6, 1]

In [197]:
# Answer 32 - Rotate a list to the right by `n` positions.

list1 = [1,2,3,4,5,6]
shift_by_n = 1

right_trim_list = list1[-shift_by_n:]
left_trim_list = list1[:len(list1)-shift_by_n]

list_shifted = right_trim_list + left_trim_list
print(list_shifted)

[6, 1, 2, 3, 4, 5]

In [198]:
# Answer 33 - Create a list of prime numbers up to 50.

number = 50
number_list = list(range(1,number+1))
#print(number_list)
prime=[]

for i in number_list:
    temp_list = list(range(1,i+1))
    count = []
    #print(temp_list)
    for j in temp_list:
        var = i/j
        #print(var)
        
        if (var.is_integer())==True:
            count.append(j)
    #print(i,count)
                        
    if len(count)==2:
        prime.append(i)
print('The prime numbers below the given numbers are: ',prime)

The prime numbers below the given numbers are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [200]:
# Answer 34 - Split a list into chunks of size `n` - Check

list1 = [1,2,3,4,5,6,7,8,9,10]
n = 3
list_len = len(list1)
group = list_len//3

list2 = []

for i in range(:
    list2.append(list_1[0:group])

3

In [2]:
# Answer 35 - Find the second largest number in a list.

list1 = [1,2,3,4,5,6]

max_list1 = max(list1)
list1.remove(max_list1)
print(max(list1))

5

In [18]:
# Answer 36 - Replace every element in a list with its square.

list1 = [9,2,7,4,5,6]

for i in range(len(list1)):
    
    list1[i] = list1[i] * list1[i]
print(list1)

[81, 4, 49, 16, 25, 36]

In [26]:
# Answer 37 - Convert a list to a dictionary where list elements become keys and their
# indices become values.

list1 = ['a','b','c','d']

d = {}

for j in list1:
        
        d[j] = list1.index(j)
    
print(d)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [20]:
# Answer 38 - Shuffle the elements of a list randomly.
import random

l = [1,2,3,4,5,6,7,8]

random.shuffle(l)
print(l)

[7, 8, 1, 6, 5, 3, 4, 2]

In [29]:
# Answer 39 - Create a list of the first 10 factorial numbers.

n = 6

fac = 1

for i in range(1,n+1):
    fac = fac * i
    
print(fac)

720

In [22]:
# Answer 40 - Check if two lists have at least one element in common.

l1 = [1,2,3,4]
l2 = [4,5,6,7]

count = 0

for i in l1:
    for j in l2:
        
        if i==j:
            count = count + 1
            
if count>0:
    print('there are atleast one element in common between the lists')
    
else:
    print('there are no elements in common')

there are atleast one element in common between the lists

In [38]:
# Answer 41 - Remove all elements from a list.

list1 = [1,2,3,4,6]

for i in range(len(list1)):
    list1.pop()
    
print(list1)

[]

In [43]:
# Answer 42 - Replace negative numbers in a list with 0.

l = [-1,-2,-5,2,5,-7,5]

for i in range(len(l)):
    if l[i]<0:
        l[i]=0
print(l)

[0, 0, 0, 2, 5, 0, 5]

In [45]:
# Answer 43 - Convert a string into a list of words.

l = 'I am learning python very fast'

list_of_words = l.split()
print(list_of_words)

['I', 'am', 'learning', 'python', 'very', 'fast']

In [47]:
# Answer 44 - Convert a list of words into a string.

l = ['I', 'am', 'learning', 'python', 'very', 'fast']
print(' '.join(l))

I am learning python very fast

In [48]:
# Answer 45 - Create a list of the first `n` powers of 2.

n = 5

for i in range(1,n+1):
    
    print(2**i,end=' ')

2 4 8 16 32

In [39]:
# Answer 46 - Find the longest string in a list of strings.

l = ['i','love','you','pyaar']

l1 = []

for i in l:

    l1.append(len(i))
        

i1 = l1.index(max(l1))

print('the longest word is',l[i1])

the longest word is pyaar

In [40]:
# Answer 47 - Find the shortest string in a list of strings.

l = ['i','love','you','pyaar']

l1 = []

for i in l:

    l1.append(len(i))
        

i1 = l1.index(min(l1))

print('the longest word is',l[i1])

the longest word is i

In [42]:
# Answer 48 - Create a list of the first `n` triangular numbers.

n = 4

[int(i*(i+1)/2) for i in range(1,n+1)]

[1, 3, 6, 10]

In [44]:
# Answer 49 - Check if a list contains another list as a subsequence.

l = [1,2,3,[4,5]]

for i in l:
    
    if type(i)==list:
        print('the list contains another list')
        break
    else:
        print('the list does not contain another list')
        break

the list does not contain another list

In [53]:
# Answer 50 - Swap two elements in a list by their indices.

l = ['a','f','d']

l[0],l[1]=l[1],l[0]

print(l)

['f', 'a', 'd']

In [1]:
# Tuple based problems

In [6]:
# answer 1 - Create a tuple with integers from 1 to 5.

l = list(range(1,6))
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

In [7]:
# answer - 2 - Access the third element of a tuple.

l = list(range(1,6))
t = tuple(l)
print(t[2])

3

In [9]:
# Answer  -3- Find the length of a tuple without using the `len()` function.

t= (1,2,3,4,5)
count = 0

for i in t:
    count += 1
    
print('the length of the tuple:',count)

the length of the tuple: 5

In [11]:
# Answer 4 - Count the occurrences of an element in a tuple.

t= (1,2,1,4,1)
o = 1
count = 0

for i in t:
    
    if o==i:
        count +=1

print('the number of occurances of element \'o in tthe tuple is:',count)

the number of occurances of element 'o in tthe tuple is: 3

In [15]:
# Answer 5 - Find the index of the first occurrence of an element in a tuple.

t = ('z','a','b','a','c')
o = 'a'

for i in t:
    
    if i==o:
        print(t.index(i))
        break

1

In [17]:
# Answer 6 - Check if an element exists in a tuple.

t = ('z','a','b','a','c')
e = 'a'

for i in t:
    if i==e:
        print('The given element is present inside the tuple')
        break

The given element is present inside the tuple

In [18]:
# Answer 7 - Convert a tuple to a list.

t = ('z','a','b','a','c')
l = list(t)
print(l)

['z', 'a', 'b', 'a', 'c']

In [19]:
# Answer 8 - Convert a list to a tuple.

l = ['z', 'a', 'b', 'a', 'c']

t = tuple(l)

print(t)

('z', 'a', 'b', 'a', 'c')

In [47]:
# Answer 9 - Unpack the elements of a tuple into variables.

t = (1,2)

a,b = t
print(a)
print(b)

1
2

In [24]:
# Answer 10 - Create a tuple of even numbers from 1 to 10.

l = list(range(2,11,2))
t = tuple(l)

print(t)

(2, 4, 6, 8, 10)

In [25]:
# Answer 11 - Create a tuple of odd numbers from 1 to 10.

l = list(range(1,10,2))
t = tuple(l)

print(t)

(1, 3, 5, 7, 9)

In [26]:
# Answer 12 - Concatenate two tuples.

t1 = (1,2,3)
t2 = (4,5,6)
t = t1+t2
print(t)

(1, 2, 3, 4, 5, 6)

In [76]:
# Answer 13 -  Repeat a tuple three times.

t1 = (1,2,3)
t = 3*t1

print(t1,t1,t1)

(1, 2, 3) (1, 2, 3) (1, 2, 3)

In [32]:
# Answer 14 - Check if a tuple is empty.

t1 = (1,2)
t0 = ()


if t1==t0:
    print('The tuple is empty')
    
else:
    print('the tuple is not empty')

the tuple is not empty

In [33]:
# Answer 15 - Create a nested tuple

t = ((1,2),(3,4))
print(t)

((1, 2), (3, 4))

In [35]:
# Answer 16 - Access the first element of a nested tuple.

t = ((1,2),(3,4))
print(t[0][0])

1

In [36]:
# Answer 17 - Create a tuple with a single element.

t = (1)

print(t)

1

In [50]:
# Answer 18 - Compare two tuples.

t1 = (1,2)
t2 = (1,2)
t3 = (2,3)

if t1==t2:
    print('both t1 and t2 are equal')
if t1==t3:
    print('both t1 and t3 are equal')
else:
    print('both t1 and t3 are not equal')

both t1 and t2 are equal
both t1 and t3 are not equal

In [38]:
# Answer 19 - Delete a tuple.

t = (1,2)
print(t)
del t
print(t)

(1, 2)

NameError: name 't' is not defined

In [39]:
# Answer 20 -Slice a tuple.

t = (1,2,3,4,5)
t[1:2]

(2,)

In [40]:
# Answer 21 - Find the maximum value in a tuple.

t = (1,2,3,4,5)
print(max(t))

5

In [41]:
# Answer 22 - Find the minimum value in a tuple.

t = (1,2,3,4,5)
print(min(t))

1

In [42]:
# Answer 23 - Convert a string to a tuple of characters.

s = 'python is an easy program'
list_char = []
for i in s:
    list_char.append(i)
t = tuple(list_char)
print(t)

('p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', 'n', ' ', 'e', 'a', 's', 'y', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm')

In [44]:
# Answer 25 - Create a tuple from multiple data types.

t = (1,'a',[1,2],{'a':5,'b':6})
print(t)

(1, 'a', [1, 2], {'a': 5, 'b': 6})

In [45]:
# Answer 26 - Check if two tuples are identical.

t1 = (1,2,3)
t2 = (1,2,3)
t3 = (3,2,1)

if t1==t2:
    print('Both t1 and t2 tuples are identical')

if t1==t3:
    print('Both t1 and t3 tuples are identical')
    
else:
    print('Both t1 and t3 tuples are not identical')

Both t1 and t2 tuples are identical
Both t1 and t3 tuples are not identical

In [49]:
# Answer 27 -Sort the elements of a tuple.

t = (5,4,2,1,8,9,2,5)

print(tuple(sorted(t)))

(1, 2, 2, 4, 5, 5, 8, 9)

In [52]:
# Answer 28 - Convert a tuple of integers to a tuple of strings.

t = (1,2,3,4,4)
l1 = list(t)
l2 = []
for i in t:
    
    a = str(i)
    
    l2.append(a)
print(l1) 
print(l2)

[1, 2, 3, 4, 4]
['1', '2', '3', '4', '4']

In [75]:
# Answer 29 - Convert a tuple of strings to a tuple of integers.

t = ('1','2','3')

l = []

for i in t:
    a = int(i)
    l.append(a)

t1 = tuple(l)
print(t1)

(1, 2, 3)

In [78]:
# Answer 30 - Merge 2 tuples

t1 = (1,2,3)
t2 = (4,5,6)

print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [55]:
# Answer 31 - Flatten a nested tuple.

t = ((1,2),(3,4))

l = list(t)

l1 = [j for i in l for j in i]

t1 = tuple(l1)

print(t1)

(1, 2, 3, 4)

In [82]:
# Answer 32 - Create a tuple of the first 5 prime numbers.

number = 13
number_list = list(range(1,number+1))
#print(number_list)
prime=[]

for i in number_list:
    temp_list = list(range(1,i+1))
    count = []
    #print(temp_list)
    for j in temp_list:
        var = i/j
        #print(var)
        
        if (var.is_integer())==True:
            count.append(j)
    #print(i,count)
                        
    if len(count)==2:
        prime.append(i)
        
t = tuple(prime)

print(t)

(2, 3, 5, 7, 11, 13)

In [3]:
# Answer 33 - Check if a tuple is a palindrome.

t = (1,2,3,3,2,1)

t_rev = t[::-1]

if t==t_rev:
    print('the given tuple is a palindrome')
else:
    print('the given tuple is not a palindrome')

the given tuple is a palindrome

In [6]:
# Answer 34 - Create a tuple of squares of numbers from 1 to 5.

l = list(range(1,6))

for i in l:
    l[i-1] = l[i-1]*l[i-1]
    
tup = tuple(l)
print(tup)

(1, 4, 9, 16, 25)

In [10]:
# Answer 35 - Filter out all even numbers from a tuple.

t = (1,2,3,4,5,6)

l = list(t)
l1 = []

for i in l:
    if i%2==0:
        l1.append(i)
        
tup = tuple(l1)
print(tup)

(2, 4, 6)

In [13]:
# Answer 36 - Multiply all elements in a tuple by 2.

t = (1,2,3)
l = list(t)
l1 = []
for i in l:
    l1.append(2*i)
    
tup = tuple(l1)
print(tup)

(2, 4, 6)

In [57]:
# Answer 37 - Create a tuple of random numbers.

import random

l = []

for i in range(1,11):
    l.append(random.randint(1,20))
    
t = tuple(l)
print(t)

(18, 12, 7, 10, 3, 17, 7, 4, 5, 13)

In [18]:
# Answer 38 - Check if a tuple is sorted.

t = (1,2,3,4)

tup = tuple(sorted(list(t)))

if t==tup:
    print('Given tuple is sorted')
else:
    print('Given tuple is not sorted')

Given tuple is sorted

In [11]:
# Answer 39 - Rotate a tuple to the left by `n` positions.

t = (1,2,3,4,5,6,7,8,9)
n_move_left_by = 2

l = list(t)
l_left = l[:n_move_left_by]
l_right = l[n_move_left_by:]

l_new = l_right + l_left


t_new = tuple(l_new)
print(t_new)

(3, 4, 5, 6, 7, 8, 9, 1, 2)

In [14]:
# Answer 40 - Rotate a tuple to the right by `n` positions.


t = (1,2,3,4,5,6,7,8,9)
n_move_right_by = 2

l = list(t)
l_left = l[-n_move_right_by:]
l_right = l[:-n_move_right_by]

l_new = l_left + l_right


t_new = tuple(l_new)
print(l_new)

[8, 9, 1, 2, 3, 4, 5, 6, 7]

In [23]:
# Answer 41 - Create a tuple of the first 5 Fibonacci numbers.

n = 5

a = 0
b = 1
sum = 0
l = [a]

for i in range(1,n+1):
    a = b
    b = sum
    sum = a + b
    l.append(sum)
t = tuple(l)
print(t)

(0, 1, 1, 2, 3, 5)

In [30]:
# Answer 42 - Create a tuple from user input.

l = []

n = int(input('Enter the length of tuple'))

for i in range(1,n+1):
    
    a = int(input('Enter a number'))
    l.append(a)

t = tuple(l)
print(t)

Enter the length of tuple 4
Enter a number 1
Enter a number 2
Enter a number 8
Enter a number 9

(1, 2, 8, 9)

In [32]:
# Answer 43 - Swap two elements in a tuple.

t = (4,9)

l = list(t)
l1 = l[::-1]
t1 = tuple(l1)

print(t1)

(9, 4)

In [33]:
# Answer 44 - Reverse the elements of a tuple.

t = (5,8,4,2,9,8,6,4)

l = list(tuple(t))

l1 = l[::-1]

t1 = tuple(l1)

print(t1)

(4, 6, 8, 9, 2, 4, 8, 5)

In [35]:
# Answer 45 - Create a tuple of the first `n` powers of 2.

n = int(input('enter number below 10'))

l = []

for i in range(1,n+1):
    l.append(2**i)
    
t = tuple(l)
print(t)

enter number below 10 5

(2, 4, 8, 16, 32)

In [63]:
# Answer 46 - Find the longest string in a tuple of strings.

t = ('a','abc','pwskills','python','ab')

l = list(t)

s = ''
max = 0
for i in l:

    
    if len(i)>max:
        max = len(i)
        s = i

print(s)

pwskills

In [65]:
# Ans 47 - Find the shortest string in a tuple of strings

t = ('a','abc','pwskills','python','ab')

l = list(t)

s = ''
min = 100
for i in l:

    
    if len(i)<min:
        min = len(i)
        s = i

print(s)

a

In [44]:
# Answer 48 - Create a tuple of the first `n` triangular numbers.

n = int(input('Enter a number'))
l = []

for i in range(1,n+1):
    
    a = int(i*(i+1)/2)
    l.append(a)

t = tuple(l)
print(t)

Enter a number 5

(1, 3, 6, 10, 15)

In [35]:
# Answer 49 - Check if a tuple contains another tuple as a subsequence.

t = (4,5,6,7,8,9,15)
sub = (9,15)
s1 = len(sub)

l1 = list(t)
l2 = list(sub)
l3 = len(l1)

for i in range(1,l3+1):
    if (l1[:s1]==l2):
        print('there is a tuple sub sequence in the main tuple')
        break
    else:
        l1.remove(l1[0])
        if len(l1)<s1:
            print('there is no tuple sub sequence in the main tuple')
            break

there is a tuple sub sequence in the main tuple

In [53]:
# Answer 50 -Create a tuple of alternating 1s and 0s of length `n`.

n = int(input('enter a number'))

t = (0,1)

if n%2==0:
    
    t_new = t * int(n/2)
    print(t_new)

else:
    
    l = list(t)
    l_new = l * int((n-1)/2)
    l_new.append(0)
    print(tuple(l_new))

enter a number 7

(0, 1, 0, 1, 0, 1, 0)

In [54]:
# Set based practice problems

In [2]:
# Ans 1 - Create a set with integers from 1 to 5.

s = {1,2,3,4,5}

In [3]:
# Ans 2 - Add an element to a set

s = {1,2,3,4,5}

s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [5]:
# Ans 3 - Remove an element from a set.

s = {1,2,3,4,5}

s.remove(1)

print(s)

{2, 3, 4, 5}

In [6]:
# Ans 4 -  Check if an element exists in a set

s = {'a','e','i'}

'a' in s

True

In [7]:
# Ans 5 -  Find the length of a set without using the `len()` function.

s = {1,2,3,4,5,6}
l = 0

for i in s:
    l = l+1

print('the length of the set is',l)

the length of the set is 6

In [10]:
# Ans 6 - Clear all elements from a set.

s = {1,2,3,4}

s.clear()

print(s)

set()

In [15]:
# Ans 7 -  Create a set of even numbers from 1 to 10.

l = [i for i in range(1,11) if i%2==0]


s = set(l)

print(s)

{2, 4, 6, 8, 10}

In [16]:
# Ans 8 - Create a set of odd numbers from 1 to 10.

l = [i for i in range(1,11) if i%2!=0]


s = set(l)

print(s)

{1, 3, 5, 7, 9}

In [18]:
# Ans 9 -  Find the union of two sets.

s1 = {1,2,3}
s2 = {4,5,6}

s = s1.union(s2)
print(s)

{1, 2, 3, 4, 5, 6}

In [19]:
# Ans 10 - Find the intersection of two sets.

s1 = {1,2,3,4,5}
s2 = {4,5,6,7}

s = s1.intersection(s2)
print(s)

{4, 5}

In [21]:
# Ans 11 -  Find the difference between two sets.

s1 = {1,2,3,4,5}
s2 = {4,5,6,7}

s =s1 - s2

print(s)

{1, 2, 3}

In [24]:
# Ans 12 - Check if a set is a subset of another set.

s1 = {1,2}
s2 = {1,2,3,4,5}

s1.issubset(s2)

True

In [26]:
# Ans 13 - Check if a set is a superset of another set

s1 = {1,2}
s2 = {1,2,3,4,5}

s2.issuperset(s1)

True

In [27]:
# Ans 14 - Create a set from a list.

l = [1,2,3,4]

s = set(l)

print(s)

{1, 2, 3, 4}

In [28]:
# Ans 15 - Convert a set to a list.

s = {1,2,3,4}

l = list(s)

print(l)

[1, 2, 3, 4]

In [34]:
# Ans 16 - Remove a random element from a set.
import random
s = {1,2,3,4}

s.pop()
print(s)

{2, 3, 4}

In [30]:
# Ans 17 - Pop an element from a set.

s = {1,2,3,4}

s.pop()

print(s)

{2, 3, 4}

In [42]:
# Ans 18 - Check if two sets have no elements in common

s1 = {1,2,3}
s2 = {4,5,6}

if s1-s2==s1:
    print('there are no common elements in the 2 sets')

there are no common elements in the 2 sets

In [52]:
# Ans 19 -  Find the symmetric difference between two sets.

s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}
s1.symmetric_difference(s2)

{1, 2, 3, 4, 6, 7, 8, 9}

In [51]:
# Ans 20 -Update a set with elements from another set.

s1 = {1,2,3}
s2 = {4,5,6}

s1.update(s2)

print(s1)

{1, 2, 3, 4, 5, 6}

In [66]:
# Ans 21 -  Create a set of the first 5 prime numbers.

import sympy as ss

s = set()
count = 0
for i in range(2,100):
    
    if ss.isprime(i)==True:
        s.add(i)
        count = count + 1
    if count==5:
        break
print(s)

{2, 3, 5, 7, 11}

In [67]:
# Ans 22 - Check if two sets are identical.

s1 = {1,2,3}
s2 = {2,3,1}

s1==s2

True

In [70]:
# Ans 23 -  Create a frozen set.

s = {1,2,3}

s1 = frozenset(s)

print(s1)

frozenset({1, 2, 3})

In [73]:
# Ans 24 -  Check if a set is disjoint with another set

s1 = {1,2,3}
s2 = {4,5,6}
s3 = {3,4,5}

print(s1.isdisjoint(s2))
print(s1.isdisjoint(s3))

True
False

In [75]:
# Ans 25 - Create a set of squares of numbers from 1 to 5.

l = [i*i for i in range(1,5)]

s = set(l)
print(s)

{16, 1, 4, 9}

In [78]:
# Ans 26 -  Filter out all even numbers from a set.

s = {i for i in range(1,11) if i%2==0}

print(s)

{2, 4, 6, 8, 10}

In [82]:
# Ans 27 - Multiply all elements in a set by 2.

s = {i for i in range(1,11)}
s1 = {2*i for i in s}

print(s)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [90]:
# Ans 28 - Create a set of random numbers.

import random

s = {random.randint(2,10) for i in range(2,10)}

print(s)

{2, 4, 7, 9, 10}

In [93]:
# Ans 29 -  Check if a set is empty.

s = set()
s1 = {1,2,3}

if s1==s:
    print('the sets s1 is empty')
else:
    print('the set s1 is not empty')

the set s1 is not empty

In [103]:
# Ans 30 -   Create a nested set 

s1 = frozenset([1,2,3])
s2 = frozenset([4,5,6])

s = {s1,s2}
print(s)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [104]:
# Ans 31 -  Remove an element from a set using the discard method.

s = {1,2,3,4,5}
s.discard(1)
print(s)

{2, 3, 4, 5}

In [105]:
# Ans 32 -  Compare two sets.

s1 = {1,2,3}
s2 = {1,2,3}
s3 = {4,5,6}

print(s1==s2)
print(s1==s3)

True
False

In [106]:
# Ans 33 - Create a set from a string.

st = 'i love pwskils'

s = set(st)

print(s)

{' ', 'w', 's', 'k', 'i', 'l', 'v', 'o', 'e', 'p'}

In [109]:
# ans 34 -  Convert a set of strings to a set of integers

s1 = {'1','2','3','4'}
s2 = set()

for i in s1:
    s2.add(int(i))
print(s2)

{1, 2, 3, 4}

In [111]:
# Ans 35 -  Convert a set of integers to a set of strings

s1 = {1,2,3,4,5}
s2= set()
for i in s1:
    s2.add(str(i))
print(s2)

{'4', '1', '2', '3', '5'}

In [112]:
# Ans 36 -  Create a set from a tuple.

t = (1,2,3,4)

s = set(t)

print(s)

{1, 2, 3, 4}

In [113]:
# Ans 37 - . Convert a set to a tuple.

s = {1,2,3,4}

t = tuple(s)

print(t)

(1, 2, 3, 4)

In [114]:
# Ans 38 -  Find the maximum value in a set

s = {4,10,15,87}

print(max(s))

87

In [115]:
# Ans 39 Find the minimum value in a set.

s = {4,10,15,87}

print(min(s))

4

In [116]:
# Ans 40 -  Create a set from user input.

a = input('enter an alphabet')

s = set()

s.add(a)

print(s)

enter an alphabet a

{'a'}

In [121]:
# Ans 41 - Check if the intersection of two sets is empty

s1 = {1,2,3}
s2 = {4,5,6}

if s1.isdisjoint(s2)==True:
    print('intersection of two sets is empty')

intersection of two sets is empty

In [124]:
# Ans 42 - . Create a set of the first 5 Fibonacci numbers.

a = 0
b = 1
l = [a,b]
for i in range(1,6):
    sum = a+b
    l.append(sum)
    a = b
    b = sum

s = set(l)
print(s)

{0, 1, 2, 3, 5, 8}

In [128]:
# Ans 43 - Remove duplicates from a list using sets

l = [1,2,3,2,4,1,3,5,6]

s = set(l)
   
print(s)

{1, 2, 3, 4, 5, 6}

In [129]:
# Ans 44 - Check if two sets have the same elements, regardless of their count.

s1 = {1,2,3}
s2 = {2,1,3}

s1==s2

True

In [132]:
# Ans 45 - . Create a set of the first `n` powers of 2.

l = []

n = 5

for i in range(1,n+1):
    l.append(2**i)
s = set(l)
print(s)

{32, 2, 4, 8, 16}

In [134]:
# Ans 46 -  Find the common elements between a set and a list.

s = {1,2,3,4,5}

l = [4,5,6,7,8,9]

s1 = set(l)

s.intersection(s1)

{4, 5}

In [139]:
# Ans 47 - . Create a set of the first `n` triangular numbers.

n = 5


s = {int(i*(i+1)/2) for i in range(1,n+1)}

print(s)

{1, 3, 6, 10, 15}

In [140]:
# Ans 48 - . Check if a set contains another set as a subset

s1 = {1,2}
s2 = {1,2,3,4}

s1.issubset(s2)

True

In [145]:
# Ans 49 -  Create a set of alternating 1s and 0s of length `n`.

n = 6
l = [1,0]

if n%2!=0:
    l1 = l*int((n-1)/2)
    l1.append(1)
else:
    l1 = l*int(n/2)

s = set(l1)

print(s)

{0, 1}

In [146]:
# Ans 50 -  Merge multiple sets into one.

s1 = {1,2,3}
s2 = {3,4,5,6}

print(s1.union(s2))

{1, 2, 3, 4, 5, 6}